*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --azuloscuro01: #03045E;
    --azuloscuro02: #023E8A;
    --azuloscuro03: #0077B6;

    --azulicon01: #0096C7;

    --azulmedio: #00B4D8;

    --turquesa: #48CAE4;
    --turquesaclaro: #90E0EF;

    --azulclaro: #ADE8F4;
    --azulicon02: #CAF0F8;

    --fondoblanco: rgba(255, 250, 250, 0.3);
    --bordeblanco: rgba(255, 250, 250, 0.7);
}

html{
    font-size: 16px;
}

body {
    font-family: sans-serif;
    min-height: calc(93vh - 60px);
    background: #104BB6;
    background: rgb(0,150,199);
    background: linear-gradient(126deg, rgba(0,150,199,1) 16%, rgba(3,4,94,1) 100%);

}

main{
    min-width: 1350px;
    min-height: calc(100vh - 180px);
    width: 96%; 
    margin:60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    color: white;
}

img {
    object-fit: contain;
    width: 40px;
}

a {
    color: white;

    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}
