/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 abr. 2022, 16:23:27
    Author     : Luis Alejandro Rodríguez Fernández - luisalejandro.rodriguez.alum@iescamp.es
*/

main{
    /*min-width: 1350px;*/
    width: 96%;

    margin:10px auto;
    padding:20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------------------*/

#filter{
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--azuloscuro01);

    border: 1px solid var(--bordeblanco);
    border-radius:50px;

    min-width:653px;
    width:60vw;
    margin: 80px auto 0;

    padding: 1em 2em;
}

#filter div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter select, #filter input {
    padding: 3px;
    border-radius: 3px;
    border: none;
}

#filter select {
    width: 10em;
}

#filter input {
    width: 5em;
}

#filter label{
    margin-bottom: .3em;
}

/*------------------------------------------*/

#cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    gap: 1em;

    padding: 0 15px 15px;
    width: 100%;
}

#cards img{
    height: 175px;
    width:145px;
    padding: 5px 0;

    border-radius: 1em;
    margin: .5em;
}

#cards a{
    height: 330px;
}
#cards > a > div > div {
    text-align: center;
    width: 100%;
}

#cards > a > div > div > div:nth-child(2) {
    display: flex;
    justify-content: space-around;
}

/*------------------------------------------*/

.card {
    min-width: 280px;
    background-color: var(--fondoblanco);

    padding: 5px 15px;
    height: 20em;
    width: 20em;

    border: solid 1px var(--bordeblanco);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h3{
    margin-bottom: 20px;
    font-size: 1.5em;
}

.card > div:first-child {
    position: relative;
}

.card > div:first-child > span {
    background-color: var(--azuloscuro02);
    border-radius: 8px 8px 0;
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;

    margin-right: 5px;
    padding: 15px;
    font-size: 20px;
}

.card:hover{
    background-color: rgba(0,0,0,1);
    transition:1.5s;
}

.card:hover .modProd{
    color: white;
    display: flex;
    transition: 1s;
}

/*Precio*/
.card > div > div > p {
    font-weight: bold;
    color: var(--azuloscuro02);
    font-size: 2em;
}

/*------------------------------------------*/

#precio{
    width: 30%;
    display: flex;

}

#precio > *{
    margin:0 10px;
}

#precio img{
    width:20px; 
}

/*------------------------------------------*/

#pag{    
    background-color: var(--azuloscuro01);
    margin: 80px auto 20px;
    padding: 5px;
    border: 1px darkgrey solid;
    border-radius:50px;
    width:30vw; 
    height: 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*------------------------------------------*/

#admin-add > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#admin-add .card h4{
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    padding: .5em;
    border: solid 1px white;
    border-radius: 25px;
    margin-bottom: .5em;
}

#filter div{
    color: white;
    display: flex;
    flex-direction: column;
}

#filter div div{
    color: white;
    display: flex;
    flex-direction: row;
}

#filter div div input{
    display: flex;
    flex-direction: row;
    margin: 0 .2em;
}

#admin-add .card p{
    margin-top: 10px;
}

.modProd{
    display: none;
}

#pag{
    min-width: 414px;
    padding: 5px;
}

#pag a{
    padding: 8px 12px;
    border-radius:20px;
    border: solid white 1px;
}

#pag a:hover{
    background-color: #303030;
    transition:1s;
}

#block{
    position: absolute;

    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 10000;
}

.notScroll{
    overflow-y: hidden;
}

#cDiv{
    position: absolute;
    height: 90px;
    padding: 10px;
    width:100%;
    display: flex;
    background-color: rgba(255, 250, 250, 0.7);
    bottom: 1px;
}

#cBtn{
    background-color: #104BB6;
    border-radius: 8px 8px 0;
    text-align: center;
    height: 50px;
    margin-right: 18px;
    padding: 10px;
    font-size: 15px;
}

#cBtn:hover{
    background-color: #03045E;
}
/*@media (max-width: 1043px){
    #cards a:last-of-type{
        display: none;
    }
}*/

@media (min-width: 1400px){
    #cards{
        grid-template-columns: repeat(4, 1fr);
    }
}

/*@media (min-width: 1700px){
    #cards{
        grid-template-columns: repeat(5, 1fr);
    }
}*/